*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ASIDE */

.nav{
    width: 300px;
    min-width: 290px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px solid #62666666;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-h1{
    font-size: 28px;
    font-weight: 300;
    margin: 10px;
    padding: 20px 0;
}

.nav li{
    font-size: 16px;
    font-weight: 300;
    padding: 20px 30px;
    border-bottom: 1px solid #333;
    color: #4d4353;
}

/* SECTION 1 */

.section1{
    position: absolute;
    margin-left: 21rem;
    padding: 2rem 0;
}

.section1-h1{
    font-size: 28px;
    font-weight: 500;
    padding: 1rem 0;
}

.section1-article p{
    font-size: 15.36px;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.5rem 0;
    display: block;
    color: #4d4353;
}

.code{
    width: 941px;
    height: 70px;
    font-family: monospace;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    line-height: 2;
    color: #4d4353;
    background-color: #f7f7f7;
    padding: 0 10px 6rem 10px;
    margin-left: 1.2rem;
    border-radius: 5px;
}

.code-2{
    width: 941px;
    height: 40px;
    display: block;
    padding-bottom: 5rem;
}

.section1-article ul{
    font-size: 15.36px;
    font-weight: 300;
    padding: 0.5rem 4rem;
}

.section1-article li{
    font-size: 15px;
    padding: 1rem 0;
    color: #4d4353
}



